<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire Calcul Distance</title>
</head>
<body>
    <form action="/calculDistance" method="POST">
        <p>Longitude A:<input name="longitudeA" placeholder="longitudeA" required/></p>
        <p>Longitude B:<input name="longitudeB" placeholder="longitudeB" required/></p>
        <p>Latitude A:<input name="latitudeA" placeholder="latitudeA" required/></p>
        <p>Latitude B:<input name="latitudeB" placeholder="latitudeB" required/></p>
        <button type="submit">Valider</button>
    </form>
</body>
</html>