<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire Calcul Prix</title>
</head>
<body>
    <form action="/calculPrix" method="POST">
        <p>Distance :<input name="distance" placeholder="distance" required/></p>
        <label for="monnaie">Monnaie :</label>
        <select id="monnaie" name="monnaie" required>
            {% for devise in res %}
                <option value="{{devise}}">{{devise}}</option>
            {% endfor %}
        </select>
        <br/>
        <button type="submit">Valider</button>
    </form>
</body>
</html>