<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire Ville</title>
</head>
<body>
    <form action="/trouverCoordonnees" method="POST">
        <p>Départ :<input name="ville1" placeholder="ville1" required/></p>
        <p>Arrivé :<input name="ville2" placeholder="ville2" required/></p>
        <p>Monnaie :<input name="monnaie" placeholder="monnaie" required/></p>
        <button type="submit">Valider</button>
    </form>
</body>
</html>